.buttonContainer {
    border-radius: 6px;
    background: #fff;
    padding: 12px 24px;
    border: solid #000 1px;
    max-width: 200px;
    display: flex;
}

.linkWrapper {
    width: 100%;
    color: #000;
    font-size: 16px;
}

.linkWrapper > a {
    text-decoration: none;
}
